<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSH4thOfJuly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFD112BD1E74C43D00BDAB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD112D31E74C43D00BDAB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD112DE1E74C43D00BDAB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
